@media only all and (min-width:64em) {/* computer */
    html {
	font-size:20px;
    }
    nav > a > div {
	width:120px;
	height:40px;
        padding-top:15px;
    }
}
@media only all and (max-width:64em) {/* mobile and tablet */
    html {/* Text is larger and centered */
	font-size:25px;
	text-align:center;
    }
    nav > a > div {/* Resized divs */
	width:calc(33% - 30px);
	height:50px;
	padding-top:25px;
    }
}

html {
    background-color:hsla(285, 45%, 75%, 0.3);
    font-family:Georgia, Helvetica, sans-serif;
}
hr {
    margin-top:20px;
    margin-bottom:35px;
    border-color:hsla(300, 60%, 90%, 0.2);
    background-color:hsla(300, 60%, 80%, 0.0);
}
li {
    margin:7px 0px;
}
h1, h2, h3, h4, h5, h6 {
    color:hsla(240, 50%, 60%, 0.9);
    font-weight:normal;
    margin-top:10px;
    margin-bottom:20px;
}
body {
    width:calc(80vw - 100px);
    height:100%;
    margin:0vw 10vw;
    padding: 0px 50px;
    background-color:hsla(0, 0%, 100%, 0.5);
}
header {
    width:100%;
    height:auto;
    padding:20px;
    font-weight:bold;
}
nav {
    width:100%;
    height:auto;
    overflow:auto;
}
nav > a > div {/* Styles the main navigation links */
    margin:5px 15px;
    text-align:center;
    border-radius:50px;
    color:hsla(270, 70%, 20%, 1.0);
    background-color:hsla(255, 60%, 70%, 0.75);
    float:left;
}
main {
    padding:20px;
}
footer {
    width:100%;
    height:auto;
    margin-top:10px;
    padding:5px 0px;
    font-style:italic;
    font-size:12px;
    text-align:center;
}
footer > hr {
    margin:20px 40px;
}