html {
    background-color:hsla(285, 45%, 85%, 0.3);
    font-family:Georgia, Helvetica, sans-serif;
    font-size:20px;
}
hr {
    margin-top:40px;
    margin-bottom:50px;
    border-color:hsla(300, 60%, 90%, 0.2);
    background-color:hsla(300, 60%, 80%, 0.0);
}
li {
    margin:7px 0px;
}
h1, h2, h3, h4, h5, h6{
    color:hsla(240, 50%, 60%, 0.9);
    font-weight:normal;
    margin-top:10px;
    margin-bottom:20px;
}
body {
    width:80vw;
    height:100%;
    margin-top:0px;
    margin-left:10vw;
    background-color:hsla(0, 0%, 100%, 0.5);
}
header {
    width:100%;
    height:auto;
    padding:20px;
    font-weight:bold;
}
nav {
    width:100%;
    height:auto;
    overflow:auto;
}
nav > a > div {
    width:100px;
    height:35px;
    padding-top:15px;
    margin:0px 7px;
    text-align:center;
    border-radius:50px;
    color:hsla(270, 70%, 20%, 1.0);
    background-color:hsla(255, 60%, 70%, 0.75);
    float:left;
}
main {
    padding:20px;
}
footer {
    width:100%;
    height:auto;
    margin-top:10px;
    padding:5px 0px;
    font-style:italic;
    font-size:12px;
    text-align:center;
}
footer > hr {
    margin:20px 40px;
}
.should {
    color:hsla(255, 60%, 70%, 1.0);
    font-weight:bold;
}
.must {
    color:hsla(255, 60%, 50%, 1.0);
    font-weight:bold;
}
.highlight {
    color:hsla(270, 50%, 10%, 1.0);
    background-color:hsla(240, 40%, 70%, 0.2);
}